                    <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
                <div class="md-sidebar__scrollwrap">
                  <div class="md-sidebar__inner">
                    <nav class="md-nav md-nav--primary" data-md-level="0">
  <label class="md-nav__title md-nav__title--site" for="__drawer">
    <span class="md-nav__button md-logo">
      
        <img src="{{ site.logo }}" width="48" height="48">
      
    </span>
    Open Research Bases
  </label>
  
    <div class="md-nav__source">

  <a href="https://github.com/openbases/openbases.github.io/" title="Go to repository" class="md-source" data-md-source="github">
    
      <div class="md-source__icon">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="#__github" width="24" height="24"></use>
        </svg>
      </div>
    
    <div class="md-source__repository">
      openbases/openbases.github.io
    </div>
  </a>

    </div>
  
  <ul class="md-nav__list" data-md-scrollfix>
    
      
      
      

  


  <li class="md-nav__item md-nav__item--active">
    
    <input class="md-toggle md-nav__toggle" data-md-toggle="toc" type="checkbox" id="__toc">
    
      
    
    
      <label class="md-nav__link md-nav__link--active" for="__toc">
        Home
      </label>
    
    <a href="." title="Home" class="md-nav__link md-nav__link--active">
      Home
    </a>
    
      
<nav class="md-nav md-nav--secondary">
  
  
    
  
  
    <label class="md-nav__title" for="__toc">Table of contents</label>
    <ul class="md-nav__list" data-md-scrollfix>
      
        <li class="md-nav__item">
  <a href="#resources" title="Resources" class="md-nav__link">
    Resources
  </a>
  
</li>
      
        <li class="md-nav__item">
  <a href="#templates" title="Templates" class="md-nav__link">
    Templates
  </a>
  
</li>
      
        <li class="md-nav__item">
  <a href="#development" title="Development" class="md-nav__link">
    Development
  </a>
  
    <nav class="md-nav">
      <ul class="md-nav__list">
          <li class="md-nav__item">
  <a href="#local" title="Local" class="md-nav__link">
    Local
  </a>
  
</li>
          <li class="md-nav__item">
  <a href="#docker" title="Docker" class="md-nav__link">
    Docker
  </a>
  
</li>
      </ul>
    </nav>
  
</li>
      
        <li class="md-nav__item">
  <a href="#support" title="Support" class="md-nav__link">
    Support
  </a>
  
</li>
      
      
      
      
      
    </ul>
  
</nav>
    
  </li>

    
      
      
      


  <li class="md-nav__item">
    <a href="bases/" title="Bases" class="md-nav__link">
      Bases
    </a>
  </li>

    
      
      
      


  <li class="md-nav__item">
    <a href="about/" title="About" class="md-nav__link">
      About
    </a>
  </li>

    
  </ul>
</nav>

                  </div>
                </div>
              </div>
            
            
              <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
                <div class="md-sidebar__scrollwrap">
                  <div class="md-sidebar__inner">
                    
<nav class="md-nav md-nav--secondary">
  
  
    
  
  
    <label class="md-nav__title" for="__toc">Table of contents</label>
    <ul class="md-nav__list" data-md-scrollfix>
      
        <li class="md-nav__item">
  <a href="#resources" title="Resources" class="md-nav__link">
    Resources
  </a>
  
</li>
      
        <li class="md-nav__item">
  <a href="#templates" title="Templates" class="md-nav__link">
    Templates
  </a>
  
</li>
      
        <li class="md-nav__item">
  <a href="#development" title="Development" class="md-nav__link">
    Development
  </a>
  
    <nav class="md-nav">
      <ul class="md-nav__list">
        
          <li class="md-nav__item">
  <a href="#local" title="Local" class="md-nav__link">
    Local
  </a>
  
</li>
        
          <li class="md-nav__item">
  <a href="#docker" title="Docker" class="md-nav__link">
    Docker
  </a>
  
</li>
        
      </ul>
    </nav>
  
</li>
      
        <li class="md-nav__item">
  <a href="#support" title="Support" class="md-nav__link">
    Support
  </a>
  
</li>
    </ul>
</nav> 
</div>
</div>
</div>
